.white {
    background-color: white;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    background: purple;
    float: left;
    margin: 1.66%;
    position: relative;
}

.container {
    max-width: 600px;
}

.show {
    visibility: visible!important;
    opacity: 1;
    transition: background 1s linear, visibility 0s 0s, opacity 1s linear;
}

.hide {
    visibility: hidden!important;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.btn {
    flex: 0 0 auto !important;
}

@media (max-width: 423px) {
    #display-2 {
        font-size: 3.0rem;
    }
}

@media (max-width: 360px) {
    #display-2 {
        font-size: 1.8rem;
    }
}